body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  position: relative; /* Necessário para o ::before funcionar */
  color: #01094e;
  padding-top: 70px;
  background: url('fundo2.PNG') no-repeat center center fixed;
  background-size: cover;   
  
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('fundo.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.3; /* Controle da transparência da imagem */
  z-index: -1; /* Mantém a imagem atrás de todo o conteúdo */

}

/* Estilo do menu de navegação */
nav ul {
  list-style: none; /* Remove os marcadores da lista */
  display: flex; /* Organiza os itens em linha */
  justify-content: baseline; /* Alinha os itens com a linha de base */
  padding: 20px; /* Espaçamento interno */
  gap: 30px; /* Espaço entre os itens */
  font-family: 'Teko', sans-serif; /* Fonte personalizada */
  font-weight: 500; /* Peso da fonte */
  margin-top: 10px;
}


nav ul li {
  margin: 0 30px; /* Espaçamento lateral entre os itens */
  margin-top: -50px;  /* Ajusta a distância da margem superior */
}

nav ul li a {
  text-decoration: none; /* Remove o sublinhado */
  color:  rgb(14, 0, 78); /* Cor do texto */
  font-weight: bold; /* Texto em negrito */
  font-size: 20px; /* Tamanho da fonte */
}

/* Efeito ao passar o mouse nos links */
nav ul li a:hover {
  color: rgb(255, 0, 0); /* Muda a cor do texto */
  transform: scale(1.1); /* Aumenta levemente o tamanho */
}

/* Estilo da logo */
.foto {
  display: block; /* Torna a imagem um bloco */
  margin: 150px auto 0 auto; /* Centraliza a logo horizontalmente */
  width: 700px; /* Largura da logo */
  height: auto; /* Mantém a proporção da imagem */
  margin-left: 400px; /* Distância da borda esquerda */
  margin-top: 180px;
} 

/* Estilo para o texto descritivo */
.descricao {
  display: block; /* Garante que ocupe a linha toda */
  text-align: left; /* Alinha o texto dentro do elemento */
  margin-left: 490px; /* Distância da borda esquerda */
  margin-top: px; /* Distância do topo */
  color: rgb(0, 0, 0); /* Cor do texto */
  font-size: 17xp; /* Tamanho da fonte */
  font-family: 'Teko', sans-serif; /* Fonte personalizada */
  max-width: 900px; /* Largura máxima do texto */
}

/* Estilo do botão "Entrar em contato" */
/* From Uiverse.io by zanina-yassine */ 
.button {
  min-width: 20px;

  position: relative;
  cursor: pointer;

  padding: 3px 17px;
  border: 0;
  border-radius: 7px;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    ellipse at bottom,
    rgb(197, 197, 197) 0%,
    rgb(145, 143, 143) 45%
  );

  color: rgba(0, 0, 0, 0.66);
  font-family: 'Teko', sans-serif; /* Fonte personalizada */
  font-size: 1.2rem;

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  margin-left: 690px;
  margin-top: 20px;
}

.button::before {
  content: "";
  width: 70%;
  height: 1px;

  position: fixed;
  bottom: 0;
  left: 15%;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
    );
  opacity: 0.2;
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);

  margin-left: 0px

}

.button:hover {
  color: rgb(255, 255, 255, 1);
  transform: scale(1.1) translateY(-3px);
  margin-left: 690px;
  margin-top: 20px;
  position: fixed;
}

.button:hover::before {
  opacity: 1;
  margin-left: 0px;
  margin-top: 20px;
  position: fixed;
}



